[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.7.1"
Flask = "==0.12.2"
flask-restplus = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
bumpversion = "*"
pytest-sugar = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
