google
google-cloud
google-api-core==^1.14.3
google-auth==^1.7.0
google-cloud-vision==^0.39.0
google-search-results==^1.6.0
googleapis-common-protos==^1.6.0
Flask==^1.1.1
Flask-Cors==^3.0.8
Flask-Uploads==^0.2.1
flask-restplus
firebase-admin
python-dotenv==^0.10.2
image==^1.5.27