{
  "presets": [
    ["env", { "modules": false }]
  ]
}

// modules:
// "amd" | "umd" | "systemjs" | "commonjs" | false, defaults to "commonjs".
// Enable transformation of ES6 module syntax to another module type.
// Setting this to false will not transform modules.
